# Expose chunkMap field in ServerChunkCache
public-f net.minecraft.server.level.ServerChunkCache chunkMap

# Expose getChunks method in ChunkMap
public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable;